<div class="card">
    <div class="card-header">
      Switcher Jobs
    </div>
    <div class="card-body">
      <h4 class="card-title"><%= job.companyName %></h4>
      <h5 class="card-subtitle mb-2"><%= job.jobdesignation %></h5>
      <h6 class="card-subtitle mb-2">Location:<%= job.jobLocation %> </h6>
      <h6 class="card-subtitle mb-2">Salary: <%= job.salary %></h6>
      <h6 class="card-subtitle mb-2">Number of openeings:<%= job.numOppening %> </h6>
      <h6 class="card-subtitle mb-2">Apply By : <%= job.applyBy %> </h6>
      <%if(locals.userEmail){%>
        <a href="/application/<%=job.id%>">
          <h6 class="card-subtitle mb-2">Applicants: <%= job.numApplicants %></h6>
        </a>
      <%}else{%>
        <h6 class="card-subtitle mb-2">Applicants: <%= job.numApplicants %></h6>
      <%}%>
      
     
      
      <%if(locals.userEmail){%>
        <a href="/edit/<%=job.id%>" class="btn btn-warning">Edit</a>
        <a href="/delete/<%=job.id%>" class="btn btn-danger">Delete</a>
      <%}else{%>
        <a href="/apply/<%=job.id %>" class="btn btn-primary">Apply</a>
      <%}%>
    </div>
  </div>