

<% if(posts.length>0){ %>
    <% posts.forEach(post=>{ %> 
    <div class="row">
        <div class="col-sm-6">
          <div class="card">
              <div class="card-body">
                <h5 class="card-title"><%= post.title %>
                </h5>
                <% if (post.creator.photo) {%>
                  <img src="data:<%= post.photo.contentType%>;base64,
                    <%=post.creator.photo.data.toString('base64')%>"
                    width="30" height="30" 
                    class="d-inline-block align-top" alt="">
                  <%}else{%>
                    <img src=src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.gamespot.com%2Farticles%2Fgroundbreaking-new-avatar-mobile-game-coming-has-h%2F1100-6441363%2F&psig=AOvVaw1N9G6MGljCq1Q6PwWUM6lt&ust=1706170330935000&source=images&cd=vfe&opi=89978449&ved=0CBMQjRxqFwoTCPCDnvnJ9YMDFQAAAAAdAAAAABAD" 
                      width="30" height="30" 
                      class="d-inline-block align-top" alt="">
                    <%}%>
                <span class="card-title"
                  style="font-size: small;font-weight: bolder;
                  ">
                  <%= post.creator.name %>
                </span>
                
                <br>
                <!-- to get the text in multiple line -->
                <p class="card-text" style="white-space: pre-wrap;"><%= post.content %></p>
                <p class="card-text"><small class="text-muted"><%= post.time %></small></p>
              </div>
              <% if(post.photo){%>
                <img src="data:<%= post.photo.contentType%>;base64,
                    <%=post.photo.data.toString('base64')%>"
                    class="card-img-top" alt="...">
              <%}%>
              <div>
                
                <% if(post.creator._id==userId){%> 
                  <form action="/posts/delete/<%= post._id %>" style="display:inline!important;" method="post">
                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                  </form>
                  <form action="/posts/update/<%= post._id %>" method="get" style="display:inline!important;">
                    <button type="submit" class="btn btn-warning btn-sm">Edit</button>
                  </form>
                <%}%>
                <i id="like-icon" onclick="myFunction(this)" class="fa fa-thumbs-up"></i> 
              </div>
              <div class="container p-3 my-3 border">
                <% if(post.comments.length>0){ %>
                  <% post.comments.forEach(comment=>{ %> 
                  <div class="row">
                      <div class="col-sm-6">
                        <div class="card">
                          <div class="card-body" style="background-color:rgba(196, 198, 198, 0.856);">
                            <span style="font-size:smaller;font-style:italic;
                              font-weight:bolder;" class="card-text">
                                <%= comment.creator.name %>
                            </span>
                            <p class="card-text"><%= comment.content %></p>
                          </div>
                        </div>
                        <% if(comment.creator._id==userId){ %>
                          <form action="/comments/delete-comment/<%= comment._id %>" method="POST" style="display:inline!important;">
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                          </form>
                          <br>
                          <br>
                        <%}%>
                      </div>
                    </div>
                  <% }) %>
                <% } %>
                <div class="sticky-bottom">
                  <form action="/comments/create-comment/<%= post.id %>" method="post" class="p-5">
                    <div class="form-group">
                      <input
                        type="text"
                        name="comment"
                        class="form-control"
                        id="comment"
                        aria-describedby="emailHelp"
                        placeholder="write your comment..",
                        required
                    />
                      <button type="submit" class="btn btn-primary mt-2">add</button>
                    </div>
                  </form>
                </div>
              </div>
                            
                


              
                
              </div>
            </div>
          </div>
    <% })%>
  <% }else{%>
    <div class="card">
      <h5 class="card-header">No Posts Available at the Moment</h5>
      <div class="card-body">
        <h5 class="card-title">Stay Tuned for New Posts!</h5>
        <p class="card-text">Currently Posts aren't available</p> 
      </div>
    </div>
  <%}%>
  

  <!-- <script>
    function myFunction(x) {
    x.classList.toggle("fa-thumbs-down");
    window.alert("ji");
  }
  </script> -->