<h1>Update Job</h1>
<form action="/edit/<%=job.id%>" method="post" class="p-5">
    <div class="form-group">
        <label for="jobcategory">Select a Job Category</label>
        <select class="form-control" value=<%=job.jobcategory%> id="jobcategory" name="jobcategory" required>
          <option  value="Tech">Tech</option>
          <option  value="Non Tech">Non Tech</option>
        </select>
    </div>
    <div class="form-group">
        <label for="jobdesignation">Select a Job Designation</label>
        <select class="form-control" id="jobdesignation" name="jobdesignation" required>
          <option value="HR">HR</option>
          <option  value="SDE">SDE</option>
          <option  value="Business Analyst">Business Analyst</option>
          <option value="Trainer">Trainer</option>
          <option value="Project Manager">Project Manager</option>
          <option value="Associate">Associate</option>
        </select>
    </div>
  <div class="form-group">
    <label for="jobLocation">Job Location</label>
    <input

      required
      name="jobLocation"
      type="text"
      class="form-control"
      id="jobLocation"
      aria-describedby="emailHelp"
      placeholder="Enter Job Location"
      value=<%=job.joblocation%>
    />
  </div>
  <div class="form-group">
    <label for="companyName">Company Name</label>
    <input
      required
      name="companyName"
      type="text"
      class="form-control"
      id="companyName"
      value=<%=job.companyName%>
      aria-describedby="emailHelp"
      placeholder="Enter Company Name"
    />
  </div>
  <div class="form-group">
    <label for="numOppening">Number of Oppenings:</label>
    <input type="number" value=<%=job.numOppening%>required id="numOppening" name="numOppening" min="1">
    <label for="salary">Salary: </label>
    <input required type="text" id="salary" name="salary" value=<%=job.salary%>>

  </div>
  <div class="form-group">
    <label for="applyBy">Apply by</label>
    <input placeholder="Apply by" value=<%=job.applyBy%>required type="date" name="applyBy"id="applyBy" class="form-control">
  </div>
  
  <div class="form-group">
    <label for="jobSkills">Required Skills</label>
    <select required multiple class="form-control" value=<%=job.Skills%> name="jobSkills" id="jobSkills">
      <option>C++</option>
      <option>Node.js</option>
      <option>JS</option>
      <option>Python</option>
      <option>Data Structures</option>
    </select>
  </div>
  
  <button type="submit" class="btn btn-primary mt-2">Update</button>
</form>
