<div>
    <h1>Add Buddy</h1>
</div>
<table class="table table-striped table-dark">
    <% otherUsers.forEach(user=>{%>
    <tbody>
      <tr>
        <td>  
            <% if(user.photo.data) {%>
                
                <img src="data:<%= user.photo.contentType%>;base64,
                <%=user.photo.data.toString('base64')%>"
                width="30" height="30" 
                class="d-inline-block align-top" alt="">
            <%}%>
        </td>
        <td><%= user.name %></td>
        
        <%if(userData.friendList.includes(user._id)){%>
            <td>
                <form action="/friends/remove-friend/<%= user._id %>" method="post">
                    <button type="submit" class="btn btn-danger btn-sm">Disconnect</button>
                </form>
            </td>
        <%}else if(userData.friendRequestsSent.includes(user._id)){%>
            <td>
                    <button type="submit" class="btn btn-success btn-sm">Request Sent</button>
            </td>
        <%}else if(userData.friendRequestsReceived.includes(user._id)){%>
            <td>
                <form action="/friends/accept-friend/<%= user._id %>" method="post">
                    <button type="submit" class="btn btn-warning btn-sm">Accept</button>
                </form>
            </td>
        <%}else{%>
            <td>
                <form action="/friends/friend-request/<%= user._id %>" method="post">
                    <button type="submit" class="btn btn-primary btn-sm">Send Request</button>
                </form>
            </td>
        <%}%>
    </tr>
    </tbody>
    <%})%>
  </table>